<div id="nav_bar">
  <header id="logo"><a href="/">Matcha</a></header>
  <ul id="nav">
    <% if (user.userid) { %>
        <p>Hi, <%=user.username%></p>
        <li><a href="/user/account">My Account</a></li>
        <li><a href="/user/profile">My Profile</a></li>
        <li><a href="/user/logout">Logout</a></li>
    <% } %>
  </ul>
</div>
