ABOUT: 
<form method="post" action="/user/account/email">
    Firstname: <%=user.firstname%> Lastname: <%=user.lastname%><br />
    Birthday: <input type="date" name="birthday"><br />
    Gender: 
    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="female"> Female
    <input type="radio" name="gender" value="other"> Other<br />
    Sexual Preference:
    <input type="radio" name="Sexual" value="hetero"> Hetero
    <input type="radio" name="Sexual" value="homo"> Homo
    <input type="radio" name="Sexual" value="bi"> Bi<br />
    About Me: <textarea name="Biography" rows="4" cols="40"></textarea><br />
    Location: <br />
    Interests: <br />
    <button type="submit" name="comfirm_profile" value="comfirm_profile">
        Comfirm
    </button>
</form>

A biography
A list of interests with reusable tags (ex: #vegan, #geek, #piercing etc...)
Pictures (max 5, including 1 as profile picture)
A public fame rating
Located using GPS (up to his/her neighborhood) without knowledge
